.component5_select {
    border-radius: 10px;
    border: 1px solid rgba(0, 0, 0, 0.20);
    background: #FFF;
    width: 300px;
    height: 50px !important;
    flex-shrink: 0;
}

.search_field {
    border: 1px solid grey;
}

.search_input {
    border: 1px solid grey;
    border-radius: 8px;
}

.search_container {
    /* float: left; */
    text-align: left;
}

.picked {
    text-align: left;
}
.heading{
    max-height: 50px;
}
.component_four {
    max-width: 300px;
    border-radius: 10px;
    border: 1px solid rgba(0, 0, 0, 0.20);
    background: #FFF;
    padding: 13px;
    margin: 50px auto;
    max-height: 50px;
}
.component_full{
    height: auto;
    border-radius: 10px;
    border: 1px solid rgba(0, 0, 0, 0.20);
    background: #FFF;
    padding: 13px;
    margin: 50px auto;
    max-width: 300px;
}
.option_text_design {
    margin-left: 5px !important;
    padding: 5px 8px;
    flex-shrink: 0;
    border-radius: 19px;
    background: rgba(94, 110, 120, 0.10);
    margin-bottom: 15px !important;
}

.option_text_design:hover {
    color: #5E6E78;
    border-radius: 19px;
    background: rgba(94, 110, 120, 0.20);

}


.all_checkbox {
    margin-top: 12px;
}

.all_checkbox input {
    color: grey;
}

.title {
    color: #000;
    font-family: Montserrat;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 27.073px;
    /* 193.382% */
}

input[type=checkbox]{
accent-color: #FFB849;;
}