.angle_btn_design {
    background-color: white !important;
    border: none !important;
    margin-right: 3px;
    cursor: pointer;
}

.component_full_six {
    height: auto;
    border-radius: 10px;
    border: 1px solid rgba(0, 0, 0, 0.20);
    background: #FFF;
    padding: 13px;
    margin: 50px auto;
    max-width: 300px;
    font-family: Montserrat;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 27.073px;
    padding-left: 0px !important;
}
.component_full_six .ul_design {
    padding-left: 14px;
}

.component_full_six .heading {
    padding-left: 27px;
    padding-top: 13px !important;
    margin-bottom: 23px;
}